.bestworks{
	background: linear-gradient(#202328 50%, #FFF 50%);
	padding-bottom: 80px;
	box-shadow: 0px 4px 4px 0px #00000040;

}

.bestworks__top{
	display: flex;
	justify-content: space-around;
	padding-top: 74px;
	padding-bottom: 66px;
	
}
.bestworks__top-text{
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 170%; /* 23.8px */
	max-width: 417px;
	text-align: right;
	display: block;
}
.bestworks__top-title{
	color: #FFF;
	font-size: 29px;
	font-style: normal;
	font-weight: 800;
	line-height: 36px; /* 124.138% */
	max-width: 419px;
	display: block;
}
.bestworks__top-title::before{
	content: ' \\\\Лучшие работы';
	color:  #F88500;
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
}
.bestworks__content{
	display: flex;
	gap: 20px;
	margin-bottom: 46px;
}
.bestwork__content-block{
	padding: 0 30px;
}
.bestworks__content-item{
	border-bottom: 3px solid #E4E6E8;
	transition: all 0.5s ease-out;
	position: relative;

}
.bestworks__content-item:hover .bestworks__content-item-text::after{
	background-image: url(../img/dot-decor.png);
}
.bestworks__content-item:hover{
	border-bottom: 3px solid #F88500;
}
.bestworks__content-item:hover .bestworks__content-item-text{
	text-decoration-line: underline;
	transition: all 0.5s ease-out;
}
.bestworks__content-item:hover::before{
	opacity: 1;
	left: 15px;
	top: 15px;
}
.bestworks__content-item:hover::after{
	opacity: 1;
	right: 15px;
	bottom: 145px;
}
.bestworks__content-item-img{
	padding-bottom: 25px;
}
.bestworks__content-item::before{
	content: url('../img/decor-works1.svg');
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.bestworks__content-item::after{
	content: url('../img/decor-works.svg');
	position: absolute;
	bottom: 150px;
	right: 20px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	
}

.bestworks__content-item-adress{
	color: #989DA5;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 170%; /* 23.8px */
	margin-bottom: 5px;

}
.bestworks__content-item-adress::before{
	content: '';
	background-image: url('../img/mapmarker.svg');
	width: 12px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 3px;
	left: -13px;

}
.bestworks__content-item-text{
	color:  #333;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 125%; /* 25px */
	max-width: 331px;
	margin-bottom: 30px;
	transition: all 0.5s ease-out;
	position: relative;
}
.bestworks__content-item-text::after{
	content: "";
	background-image: url(../img/dot-decor_disabled.png);
	height: 100%;
	width: 10px;
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	left: -10px;
	top: 7px;

}

.bestworks__btn{
	width: 169px;
	height: 44px;
	border-radius: 0px 5px;
	background:#F88500;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 800;
	line-height: 145%; /* 20.3px */
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
}
