.tabwrapper {
  display: flex;
  gap: 56px;
}
.tabblock {
  flex-shrink: 0;
  flex-basis: 250px;
}
.tabblock__title {
  color: #333;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 21px;
  padding-left: 30px;
}
.tabblock__items {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.tabblock__item {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  padding-left: 30px;
  cursor: pointer;
}
.tabblock__item a {
  color: #666;
  font-size: 14px;
  font-weight: 500;
}
.tabblock__item_active {
  color: #fff;
  background-color: #f88500;
  padding: 10px 30px 10px 30px;
}
.tabcontent {
  margin-bottom: 70px;
  flex-grow: 1;
}
.tabcontent__box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 84px;
  column-gap: 20px;
  justify-content: baseline;
  align-items: baseline;
}
.tabcontent__title{
  color: #333;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 25px;
}
.tabcontent__title-advanteges {
  color: #333;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 54px;
  text-align: center;
}
.tabcontent__text {
  max-width: 799px;
  line-height: 170%;
  color: #000;
  font-size: 16px;
  margin-bottom: 35px;
}
.tabcontent-img {
  margin-bottom: 35px;
}

.tabcontent__card {
  max-width: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.tabcontent__card-title {
  color: #333;
  font-size: 19px;
  font-weight: 800;
  max-width: 210px;
  line-height: 130%;
  text-align: center;
}
.tabcontent__card-text {
  color: #333;
  text-align: center;
  font-size: 13px;
  line-height: 170%;
}
.tabcontent__card-link {
  color: #333;
  font-size: 15px;
  font-weight: 800;
  line-height: 170%; /* 25.5px */
  text-decoration-line: underline;
  
}

.show {
  display: block;
}
.hide {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.tabcontent__title_partners{
  text-align: left;
  margin-bottom: 45px;
}
.tabcontent__card_partners{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  row-gap: 40px;
}
.tabcontent__card_title-partners{
  color: #F88500;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
}
.tabcontent__text_partners{
  max-width: 619px;
  color: var(--text, #333);
  font-size: 16px;
  line-height: 170%; /* 27.2px */
}
.tabcontent__box-partners{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}