body{
	font-family: 'Raleway', sans-serif;
  
}

.container {
  width: 100%;
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}
.body__wrapper{
  overflow: hidden;
  width: 100%;
  position: relative;
}
img{
  max-width: 100%;
  height: auto;
}