@import url(normalize.css);
@import url(swiper-bundle.min.css);
@import url(main.css);
@import url(footer.css);
@import url(header.css);
@import url(trust.css);
@import url(partners.css);
@import url(bestworks.css);
@import url(about.css);
@import url(blog.css);
@import url(services.css);
@import url(projects.css);
@import url(map.css);
@import url(portfolio-slider.css);
@import url(company.css);
@import url(blogPage.css);